@font-face {
    font-family: 'roboto';
    src: url('assets/font/roboto-black-webfont.woff2') format('woff2'),
         url('assets/font/roboto-black-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('assets/font/roboto-bold-webfont.woff2') format('woff2'),
         url('assets/font/roboto-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('assets/font/roboto-medium-webfont.woff2') format('woff2'),
         url('assets/font/roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('assets/font/roboto-regular-webfont.woff2') format('woff2'),
         url('assets/font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('assets/font/roboto-light-webfont.woff2') format('woff2'),
         url('assets/font/roboto-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('assets/font/roboto-thin-webfont.woff2') format('woff2'),
         url('assets/font/roboto-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}