*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 0;
    font: inherit;
    font-family: 'roboto';
}

body{
    background-image: url('background.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}